/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #f66759
$textColor = #2c3e50
$borderColor = #e5e4e0
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #5cb270
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #da6758

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem#e5e4e1
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px#4EC5F1
